@import './custom.scss';
@import './variable.scss';

.l-wrap {
    max-width: 500px;
    &__header {
        h2 {
            font-weight: 500;
            margin: 0 0 0 20px;
        }
    }
    &__body {
        padding: 50px 70px 40px;
        .tabs {
            .nav-tabs {
                border: none;
                padding-bottom: 20px;
                .nav-item {
                    .nav-link {
                        color: $gray-500;
                        border: none;
                        font-weight: 500;
                        line-height: 1.1;
                        padding: 0 40px;
                        &:focus {
                            outline: none;
                        }
                        &.active {
                            color: $primary;
                        }
                    }
                    &:first-child {
                        border-right: 1px solid $gray-500;
                        .nav-link {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        .form-group {
            position: relative;
            margin-bottom: 20px;

            &:last-child {
                margin-top: 40px;
            }

            .clear-btn {
                top: 7px;
                right: 1px;
            }
        }
    }
    &__footer {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.card-wrapper {
    height: 100%;
    margin-bottom: 30px;
    .card {
        flex: 1 1 auto;
        &__header {
            position: relative;
            padding: 20px;
        }
        &__body {
            .table {
                font-size: 12px;
                font-weight: 400;
                color: $gray-900;

                th {
                    padding: 0.7rem;
                }

                thead {
                    th {
                        vertical-align: middle;
                        text-align: center;
                        border: none;
                        background: rgba(235,236,240,1);
                        &.custom-border {
                            border-width: 0 1px;
                            border-style: solid;
                            border-color: $white;
                        }
                        .th-rowspan {
                            border-top: 1px solid $white;
                            span {
                                display: block;
                                padding: 2px 4px;
                            }
                        }
                    }
                }
                tbody {
                    th {
                        text-align: center;
                    }
                }
            }
        }
    }
    .content-pagination {
        font-size: 12px;
    }

    .cursor-pointer {
        cursor: pointer;
    }
}
@import './custom.scss';